<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="src/main/resources/static/js/script.js"></script>
</head>
<body>
    <header th:insert="~{../static/html/header.html}" ></header>
    <section class="container col-6">
        <table class="Table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Cursos Asignados</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="profesor: ${listaProfesores}">
                <td th:text="${profesor.id}" class="col-1">></td>
                <td th:text="${profesor.nombres}" class="col-2"></td>
                <td th:text="${profesor.apellido1}" class="col-1"></td>
                <td th:text="${profesor.apellido2}" class="col-1"></td>
                <td class="col-1">
                    <select >
                        <option th:each="curso : ${profesor.listaCursos}" th:text="${curso.nombreCurso}" th:value="${curso.id}"></option>
                    </select>
                </td>
                <td class="col-1"><form th:action="@{/profesor/actualizar/{id}(id=${profesor.id})}"
                          method="get">
                    <button class="btn btn-warning" type="submit">Editar</button>
                </form></td>
                <td class="col-1">
                    <form th:action="@{/profesor/eliminar/{id}(id=${profesor.id})}"
                          method="post" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este profesor?')">
                        <button class="btn btn-danger" type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
            </tbody>

        </table>
    </section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>